.title {
    text-align: center;
    margin: 15px 0;
}

.content {
    display: grid;
    gap: 30px;
    justify-items: center;
    width: inherit;
}

.itemWrapper {
    width: 100%;
}

.text {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}