@import "../../assets/styles/variables";

.infoWrapper {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.title {
    font-weight: 600;
}

.inputCount {
    border: 1px solid $gray-color;
    padding: 1px 2px;
    width: 120px;
    height: 26px;
    font-family: Tahoma, sans-serif;
    color: $text-color;
    margin-left: 5px;
}

.warning {
    text-align: center;
    color: $notice-red;
}